@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@400;700&display=swap');

$font-header: 'Playfair Display', serif;
/*$font-body: 'Montserrat', sans-serif;*/
$font-body: 'Lato', sans-serif;

h1, h2, h3, h4 {
  font-family: $font-header;
  font-weight: 700;
  color: $color-text;
}

h3{
     font-family: $font-body;
     font-size: 1.5rem;
     color: $color-dark;
     margin: 1rem 0 0.5rem;
}

h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom:2rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: $color-medium;
    transition: width 0.6s ease-out;
  }

  &.animate-line::after {
    width: 100%;
  }
}

/*h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;

  &.animate-line {
    opacity: 1;
    transform: translateY(0);
  }

  &::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: $color-medium;
  transform: translateX(-50%);
  transition: width 0.6s ease-out;
}

&.animate-line::after {
  width: 100%;
}
}*/

/*@keyframes slotSpin {
  0% { transform: translateY(0) rotate(0deg); background-color: #ff5a5f; }
  25% { transform: translateY(-3px) rotate(-5deg); background-color: #ff8a80; }
  50% { transform: translateY(3px) rotate(5deg); background-color: #ff5252; }
  75% { transform: translateY(-3px) rotate(-5deg); background-color: #ff1744; }
  100% { transform: translateY(0) rotate(0deg); background-color: #ff5a5f; }
}*/
